body div *
{
	color:#606060;
}
body
{
	background-image:none;
	background-color:white;
}
body div table.normal
{
	border:1px solid #BEA8C9;
}
body div table.normal caption
{
	margin-top:2px;
        background-color:#77d26e;
	border:1px solid #BEA8C9;
	border-bottom:none;
}
body div table.normal th
{
        background-color:#e4ffe4;
	color:#006600;
}

body div table.normal caption div
{
	color:#006600;;
}
body div button
{
	color:#006600;
}
body div table.normal tfoot td 
{
	background-color:#e4ffe4;
	color:#006600;
}
body div table.normal td
{
        color:#989191;
}

