
div.tabbedPane{
	position:relative;
	margin-right:12px;
	margin-left:12px;
	width:700px;
}
.tabbedPaneHeader {
	background-image:url("images/spacer.gif");
	background-repeat:no-repeat;
	background-position: right bottom;
	line-height:normal;
	width:100%;
}
.tabbedPaneHeader div.footer {
	border-left: none;
	background-color: #c7f3c7;	
}
.tabbedPaneHeader ul {
	margin:0;
	padding:0;
	list-style:none;
}
.tabbedPaneHeader li {
	float:left;
	padding:0;
	background-image:none;
	background-repeat:no-repeat;
	background-position: right top;
	margin-right:2px;
}
.tabbedPaneHeader li div {
	background:none;
	background-repeat:no-repeat;
	border:1px solid #c7f3c7;
	border-bottom:none;
	background-color:#fbfffb;
	background-position: left top;
}
.tabbedPaneHeader li div a {
	display:block;
	text-decoration:none;
	font-family : Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color: #006600;
	padding-left:12px;
	padding-right:12px;
	padding-top:2px;
	padding-bottom:2px;
	background-image:url("images/spacer.gif");
	background-repeat:no-repeat;
	background-position: right bottom;
	border:none;
}
.tabbedPaneHeader li div a:visited{
	padding-left:12px;
	font-weight:bold;
	font-size:12px;
	color:#77d26e;
	text-decoration:underlie;
}
.tabbedPaneHeader li div a:hover {
	padding-left:12px;
	color:#002000;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}
.tabbedPaneHeader li.selected {
	background-image:none;
}
.tabbedPaneHeader li.selected div {
	background-image:none;
	background-color:#eeffee;
}

.tabbedPaneHeader li.selected div a{
	padding-left:12px;
	font-weight:bold;
	font-size:12px;
	background-image:url("images/spacer.gif");
	background-repeat:no-repeat;
	background-position: right bottom;
}
.tabbedPaneContentTR{
	background-image:none;
	background-color:#eeffee;
	border:1px solid #c7f3c7;
	border-top:none;
}
.tabbedPaneContentBL{
	background-image:none;
}
.tabbedPaneContentBR{
	background-image:none;
}

