.column
{
	:not(.vertically-centered-children) 
	{
		display: block;
	}
	* + .btn
	{
		margin-left:0px; /* override default spacing for buttons */
	}
	.center
	{
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
}
.vertically-centered-children
{
	.flex-column();
	*
	{
		margin-top:auto;
		margin-bottom:auto;
	}
}