label.field
{
 > *
 {
 	color:@black;
	display:block;
 	vertical-align:baseline;
 }
 span
 {
	color:@gray;
	display:block;
 	vertical-align:baseline;
 }
 input 
 {
 	height:auto;
 	box-sizing:border-box;
	color:@black;
 }
}

.form-wide label.field
{
	> *
	{
		display:inline-block;
		width:80%;
	}
	>span:first-child
	{
		width:20%;
	}
}
.form-narrow-one-line-fields label.field
{
	> *
	{
		display:inline-block;
		width:70%;
	}
	>span:first-child
	{
		width:30%;
	}
}

label.field2
{
float:left;
padding-top:2px;
padding-left:5px;
	> *
	{
	display:inline-block;
	float:left;
	}
	input
	{
	width:105px;	
	}
	select
	{
	width:110px;
	}
	span
	{
	margin-top:5px;
	}
}

.form-2lie label.field //form里可以分成2列
{
float:left;
width:50%;
margin:auto;
 > *
 {
 display:inline-block;
 width:58%;
 }
  >span:first-child
  {
  width:40%;
  text-align:right;
  }
}

.form-1lie label.field //form里可以分成1列
{
float:left;
width:100%;
margin:0px 0px 0px 0px;
 > *
 {
 display:inline-block;
 width:78%;
 }
  >span:first-child
  {
  width:20%;
  text-align:right;
  }
}

.row-6lie label.field //form里可以分成6列
{
padding-top:5px;
float:left;
width:16.66%;
margin:0px 0px 0px 0px;
 > *
 {
 display:inline-block;
 width:68%;
 }
  >span:first-child
  {
  width:30%;
  text-align:right;
  }
}

.form-4lie label.field //form里可以分成4列
{
float:left;
width:25%;
margin:0px 0px 0px 0px;
 > *
 {
 display:inline-block;
 width:53%;
 }
  >span:first-child
  {
  width:45%;
  text-align:right;
  }
}

.form-1lie-1000 label.field //form里可以分成1列宽度1000px
{
float:left;
width:100%;
margin:0px 0px 0px 0px;
 > *
 {
 display:inline-block;
 width:890px;
 }
  >span:first-child
  {
  width:74px;
  text-align:right;
  }
}

.form-2lie-50-50 label.field //form里可以分成2列
{
float:left;
width:50%;
margin:0px 0px 0px 0px;
 > *
 {
 display:inline-block;
 width:58%;
 }
  >span:first-child
  {
  width:40%;
  text-align:right;
  }
}