@footer-height: 42px;
@page-padding: 10px;
@page-background: white;
@page-header-background: black;
@page-header-color: white;
@page-header-font-size:16px;
html,body,#tersus\.content
{
	height:100%;
	position:relative;
	overflow:hidden;
}
*:not(input)
{
	.box-sizing(border-box);
}

.hepa{
	height:100%;
	background-color:#fff;
}

.headrow{
	padding:15px;
	border-bottom:1px solid #aaa;
	height:65px;
	background-color:#eccc68;
	>input{
		margin-bottom:0px;
		width:100px;
	}
	>select{
		margin-bottom:0px;
		width:120px;
	}
}
//登录主背景样式
.denglu_zhu{
	width:100%;
	height:100%;
	background-color:#2980b9;
	background-image:url(images/loginbackground.png);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 30% 50%;
}

//登录按钮框样式
.denglu{
	width:260px;
	height:40px;
	margin:10px 0 10px 0;
	border:1px solid #ecf0f1;
	background-color:white;
		>input{
			margin:0px 0 0px 0px;
			height:30px;
			width:200px;
			font-size:16px;
			border-radius:0px;
			float: left;
			background-color: @inputBackground;
			border: 0px;
			box-shadow:0 0 0 0;
	// Focus state
		&:focus {
			border: 0px;
			outline: none;
			box-shadow:0 0 0 0;
		}
		}
		>div{
			height:30px;
			margin:10px 2px 0 10px;
			float:left;
			>i{
				color:gray;
				margin:auto;
				font-size:18px;
		}
		
		}
}


.footer{
    width: 100%;
    //height:20px;   /* footer的高度一定要是固定值*/ 
    position:absolute;
    bottom:20px;
    left:0px;
    //background:#f5f6fa;
	//overflow:hidden;
	
}

.main_zuo /*左边导航*/
{
	max-width: 200px;
	height:100%;
	overflow:hidden;
	background-color:#2c3e50;
	float:left;
}
/*左侧导航X方向展开*/
.mainzuoXopen{
	max-width: 200px;
	/* Setting the transition property for all Browsers */
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}
/*左侧导航X方向关闭*/
.mainzuoXclose{
	max-width: 0px;
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}

.main_you /*右边内容*/
{
	width:~"calc(100% - 200px)";
	height:100%;
	background-color:white;
	float:left;
}

.mainyouXclose
{
	width:~"calc(100% - 200px)";
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}
.mainyouXopen
{
	width:100%;
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}

//菜单显示小标题
.titledisplay
{
	line-height:30px;
	background-color:#ecf0f1;
	width:100%;
	height:30px;
	//background-image: linear-gradient(to right, #ecf0f1 , #fff);//向右颜色渐变
}
//菜单隐藏显示控制按钮
.leftmenushowcontrol
{
	width: 40px;
	padding-left: 5px;
	line-height:30px;
	float:left;
	font-size:18px;
	margin:0 5px;
	cursor: pointer;
	&:hover {
		font-weight:bold;
		color: blue;
		}
}

//菜单选项页
.OptionsPage
{
	float:left;
	padding-right: 15px;
	line-height:28px;
	font-size:14px;
	&:hover{
		background-color:white;
	}
}
//菜单选项页关闭按钮
.OptionsPageX
{
	display:inline-block;
	width: 14px;
	line-height:30px;
	text-align:center;
	color:#c2c2c2;
	font-size:14px;
	cursor: pointer;
	&:hover {
		background-color: red;
		color: white;
	}
}

.OptionsPageActive
{
	padding-right: 15px;
	float:left;
	line-height:28px;
	font-size:14px;
	cursor: pointer;
	color: #0984e3;
	background-color:white;
	//background-color:darken(#ecf0f1,5%);
	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #0984e3;

}

//版权信息
.footdisplay
{
	line-height:24px;
	text-align:center;
	font-size:11px;
	border-top: 1px solid #ecf0f1;
}
.RightContent/*右边内容里的分窗口*/
{
height:100%;
}


.tablefoot  /*表格分页显示底部*/
{
//margin:0 5px 0 5px;
//width:35px;
text-align:center;
font-weight:bold;
//float:left;
cursor: pointer;
&:hover {
	font-weight:600;
	color: darken(blue, 5%);
	text-decoration: underline;
	}
}
/*个人信息*/
.userinfor
{
line-height:50px;
border-right:1px solid lighten(#2980b9,10%);
text-align:right;
cursor: pointer;
float:right;
	>span{
	margin:0 20px 0 5px;
	color:white;
	font-size:16px;
	}
}
/*个人信息经过显示*/
.userinfor:hover .submenu{
	/* Setting the transition property for all Browsers */
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
	max-height:400px;
  }

/*个人信息子菜单*/
.submenu{
	max-height:0px; 
	overflow: hidden;  
	position:absolute;
	background-color:#2c3e50;
	width:115px;
	right:5px;
}

/*个人信息子菜单标题*/
.submenu_title {
	width: 115px;
	line-height:30px;
	font-size:14px;
	color:white;
	padding-left: 10px;
	text-align:left;
	cursor: pointer;
		// Hover state  经过时变色
	  &:hover {
		color: #ecf0f1;/*字体颜色 */
		text-decoration: none;
		background-color: #3498db;/*背景颜色*/
		*background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
		background-position: 0 -15px;
		.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
		// transition is only when going to hover, otherwise the background
		// behind the gradient (there for IE<=9 fallback) gets mismatched
		.transition(background-position .1s linear);
		}
		// Active state  点击时变色
	  &:active {
		background-color: #0984e3;
		background-color: darken(@white, 15%) e("\9");
		background-image: none;
		outline: 0;
		.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
		}
		>span{
			margin-left: 5px;
		}
	}

.tablefoot_tuxing  /*表格分页图形底部*/
{
//margin:0px 5px 0 5px;
width:25px;
float:left;
cursor: pointer;
&:hover {
	border:1px solid #aaa;
	}
}

.biaoti_textdisplay /*logo顶部文字格式*/
{
width:200px;
font-size:26px;
color:white;
font-weight:500;
}

.checkbox_1 //单选框预排单用
{
float:left;
margin:10px 0 0 10px;
}

/*左侧菜单*/
.leftmenu{
	max-height: 40px;
	overflow: hidden;
	}
.leftmenuopen{
	max-height: 400px;
	/* Setting the transition property for all Browsers */
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}
.leftmenuclose{
	max-height: 40px;
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}

/*左侧菜单1级*/
.leftmenu1
{
width:200px;
line-height:40px;
font-size:16px;
color:white;
padding-left:10px;
cursor: pointer;
border-color: #2c3e50;
border-left-style: solid;
border-left-width: 5px;
	>i{
		width:25px;
	}
	// Hover state  经过时变色
  &:hover {
    color: #ecf0f1;/*字体颜色 */
    text-decoration: none;
    background-color:lighten(#2c3e50,10%);/*背景颜色*/
    background-position: 0 -15px;
	.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
    .transition(background-position .1s linear);
	border-left-color: #3498db;
	border-left-style: solid;
	border-left-width: 6px;
	padding-left: 15px;
	transition: all 0.2s ease-in-out;
	}

	// Active state  点击时变色
  &:active {
    background-color: #0984e3;
    background-color: darken(@white, 15%) e("\9");
    background-image: none;
    outline: 0;
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
	}
}
.menucolor_1{ /*左边一级菜单激活样式*/
	border-left-color: #3498db;
	border-left-style: solid;
	border-left-width: 6px;
	padding-left: 15px;
	background-color:lighten(#2c3e50,10%);/*背景颜色*/
}

/*左侧菜单2级*/
.leftmenu2 {
width:200px;
line-height:30px;
font-size:14px;
color:white;
padding-left:20px;
cursor: pointer;
background-color:darken(#2c3e50,5%);/*背景颜色*/
	>i{
		margin:8px 22px 0 0;
		opacity: 0;
	}
	// Hover state  经过时变色
  &:hover {
    text-decoration: none;
    background-color: #3498db;/*背景颜色*/
    *background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
	.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
    .transition(background-position .1s linear);
	padding-left: 30px;
	transition: all 0.5s ease-in-out;
	}
	// Active state  点击时变色
  &:active {
    background-color: #0984e3;
    background-color: darken(@white, 15%) e("\9");
    background-image: none;
    outline: 0;
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
	}
}

.leftmenu2:hover i{
	opacity: 1;
	margin:8px 10px 0 0;
	transition: all 0.5s ease-in-out;
}

//
.leftmenu2set{
	text-decoration: none;
    background-color: #3498db;/*背景颜色*/
    *background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
	.box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");/*阴影*/
    .transition(background-position .1s linear);
	padding-left: 30px;
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
	>i{
		opacity: 1;
		margin:8px 10px 0 0;
	}
	
}
.leftmenu2unset{
	padding-left:20px;
	background-color:darken(#2c3e50,5%);/*背景颜色*/
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
	>i{
		margin:8px 22px 0 0;
		opacity: 0;
	}
}



//LOGO样式
.logoCSS
{
width:200px;
float:left;
text-align:center;
height:50px;
border-right:1px solid lighten(#367eb0,5%);
}
//LOGO标题字
.logotitle
{
margin:0 0 0 5px;
float:left;
line-height:50px;
font-size:24px;
color:white;
font-weight:bold;
}

.menucolor{ /*左边导航预先设置的颜色样式*/
  background-color:#3498db;
}


//左侧菜单小箭头旋转0度
.arrow0{
	transform:rotate(0deg);
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}

//左侧菜单小箭头反旋转90度
.arrow-90{
	margin:0px 10px 0 0;
	transform:rotate(-90deg);
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
	-webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.5s ease-in-out;  /* Opera */
	transition: all 0.5s ease-in-out; /* Browsers that Support it */
}

//商家端导航栏颜色样式
.menucolor_shangjia{
background-color: darken(#2980b9,10%);
}



//查询条件栏背景，浅白色。
.searchcolor_1 { 
	width:100%;
	height:40px;
	background-color:#ecf0f1;
}

.searchcolor_2 { 
	padding:5px 0 5px 0;
	height:45px;
	background-color:#ecf0f1;
}
//外框样式
.waikuang{
border:1px solid #e5e5e5;
//border-style:solid;
//border-width:1px;
//border-color:#e5e5e5;
overflow:auto;
}

//DATAPICKER日期选择样式，今日或者当前选定的样式定义
.ui-datepicker-today .ui-state-highlight{
     border: 1px solid blue;
     color: blue;
}
.selectedOption{
//width:300px;
background:blue;
color:white;
}

//付款日标记颜色
.paydate_mark{
color:#DBA901;
font-weight:bold;
}

//预警值标记颜色
.warn_mark{
color:red;
font-weight:bold;
}

//表格里文字下载
.textDownload{
margin:0 5px;
color:lighten(blue, 20%);
cursor: pointer;
&:hover {
	font-weight:bold;
	color: darken(blue, 5%);
	text-decoration: underline;
	}
}

//排序图标
.caret-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    overflow: initial;
    position: relative;
	left: 6px;
}
//降序
.caret-wrapper .ascending {
	color:lightgray;
	cursor: pointer;
	margin:-0px 0 0 1px;
	position: absolute;
    top: -9px;
}

//升序
.caret-wrapper .descending {
	color:lightgray;
	cursor: pointer;
	margin:-0px 0 0 1px;
	position: absolute;
    top: -7px;
}

//权限树形目录
.permission-lv1
{
	padding: 6px 0 6px 16px;  
	margin-bottom: 5px;
	border:1px solid #aaa;
}
.permission-lv2
{
padding-left:21px;
}