.tablet-view
{
	position:absolute;
	top:0px;
	width:100%;
	bottom:@footer-height;
	overflow:visible;
	.page {
		display: none;
		height:100%;
		overflow:auto;
		padding:@page-padding;
		background-color:@page-background;
    	position: absolute;
	    top: 0;
	    width: 100%;
    	
		&.active, &.in, &.out {
			display: block;
		}
		&.left, &.right
		{
			.transition(.6s ease-in-out left);
		}
		&.out
		{
			left:0px;
		}
		&.out.left.end {
		    left: -100%;
		}
		&.out.right.end {
		    left: 100%;
		}
		&.in.left
		{
			left:100%;
		}
		&.in.right
		{
			left:-100%;
		}
		&.in.end
		{
			left:0px;
		}
		>.header
		{
			background-color:@page-header-background;
			position:relative;
			color:@page-header-color;
			padding:5px 0px;
			margin:-@page-padding -@page-padding @page-padding -@page-padding; /* eliminate padding around the header */
			h1
			{
				font-size:@page-header-font-size;
				text-align:center;
				margin: 0px 90px;
			}
			>.btn.right
			{
				position:absolute;
				top:10px;
				right:10px;
			}
			 >.btn.left
            {
                position:absolute;
                top:10px;
                left:10px;
            }
		}
	}
	.footer
	{
		width:100%;
		position:absolute;
		bottom:-@footer-height;
		height:@footer-height;
		ul.navbar
		{
			display:block;
			margin:0px;
			 #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
				.box-shadow(0 1px 4px rgba(0,0,0,.065));
				 border: 1px solid @navbarBorder;
			li
			{
				display:inline-block;
				border-left:1px solid @navbarBorder;
				&:first-child
				{
					border-left:none;
				}
				box-sizing:border-box;
				width:25%;
				a,.link
				{
  					text-decoration: none;
  					display:block;
					padding:10px 0px;
					text-align:center;				
					color:@navbarLinkColor;
					&:hover
					{
						color:@navbarLinkColorHover;
	  					background-color: @grayLighter;
	  				}
	  				img
	  				{
	  					max-width:44px;
	  					max-height:44px;
	  				}
				}
				&.active a, &.active a:hover, &.active a:focus, &.active .link
				{
				  	color: @navbarLinkColorActive;
					text-decoration: none;
					background-color: @navbarLinkBackgroundActive;
					.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
				}
			}
		}
	}
}
