/* Background Colors */
/* ~~~~~~~~~~~~~~~~~ */

.transparent-background
{
	background-color:Transparent;
}

.black-background
{
	background-color:Black;
}

.white-background
{
	background-color:White;
}

.yellow-background
{
	background-color:Yellow;
}

/* Font Colors */
/* ~~~~~~~~~~~ */

.aqua
{
	color:Aqua;
}

.black
{
	color:Black;
}

.blue
{
	color:Blue;
}

.brown
{
	color:Brown;
}

.cyan
{
	color:Cyan;
}

.fuchsia
{
	color:Fuchsia;
}

.gold
{
	color:Gold;
}

.gray
{
	color:Gray;
}

.green
{
	color:Green;
}

.ivory
{
	color:Ivory;
}

.lime
{
	color:Lime;
}

.magenta
{
	color:Magenta;
}

.navy
{
	color:Navy;
}

.olive
{
	color:Olive;
}

.orange
{
	color:Orange;
}

.pink
{
	color:Pink;
}

.purple
{
	color:Purple;
}

.red
{
	color:Red;
}

.silver
{
	color:Silver;
}

.turquoise
{
	color:Turquoise;
}

.violet
{
	color:Violet;
}

.white
{
	color:White;
}

.yellow
{
	color:Yellow;
}
