label.field
{
	> *
	{
		display:block;
		vertical-align:baseline;
	}
	input 
	{
		height:auto;
		box-sizing:border-box;
	}
}
.form-wide label.field
{
	> *
	{
		display:inline-block;
		width:80%;
	}
	>span:first-child
	{
		width:20%;
	}
}
.form-narrow-one-line-fields label.field
{
	> *
	{
		display:inline-block;
		width:60%;
	}
	>span:first-child
	{
		width:40%;
	}
}