.flex-column
{
	display: box;   
	display: -webkit-box;   
	box-orient:vertical;
	-webkit-box-orient:vertical;
	display:flex;
	display:-webkit-flex;
	-webkit-flex-direction:column;
	flex-direction:column;
}

.flex-row
{
	display: box;   
	display: -webkit-box;   
	box-orient:horizontal;
	-webkit-box-orient:horizontal;
	display:flex;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	flex-direction:row;
}
.flex-grow(@grow)
{
	    box-flex:@grow;
	    -webkit-box-flex:@grow;
	    flex-grow:@grow;
	    -webkit-flex-grow:@grow;
	    flex-shrink:@grow;
	    -webkit-flex-shrink:@grow;
}

