@footer-height: 42px;
@page-padding: 10px;
@page-background: white;
@page-header-background: black;
@page-header-color: white;
@page-header-font-size:16px;
html,body,#tersus\.content
{
	height:100%;
	position:relative;
	overflow:hidden;
}
*:not(input)
{
	.box-sizing(border-box);
}