.list
{
	
	>.item
	{
		>*
		{
			display:inline-block;
		}
		>.vertically-centered-children
		{
			display:inline-flex;
		}
		&.divider
		{
			background-color:#aaa;
			color:blue;
		}
		&.full-row-item
		{
			.flex-row();
			> div
			{
				.flex-grow(1);
			}            
		}
		&.with-horizontal-spacing
		{
			>:not(*:first-child)
			{
				margin-left:0.5em;
			}
		}
		&.with-vertical-spacing
		{
			padding-top:0.5em;
			padding-bottom:0.5em;
		}
		&.with-line-dividers
		{
			border-bottom:1px solid #aaa;
		}
		position:relative;
		span
		{
			font-size:16px;
			&.title
			{
				font-weight:@headingsFontWeight;
			}
		}
		>.right
		{
			position:absolute;
			right:5px;
		}
		>.vertically-centered 
		{
		    top:50%;
		    transform:translate(0,-50%);
		}
	}
}
