.page
{
	.large-border-radius
	{
		.border-radius(@borderRadiusLarge);
	}
	.large-padding
	{
		padding:10px;
	}
	.medium-padding
	{
		padding:5px;
	}
	.clickable:hover
	{
		cursor:pointer;
	}
}