/* Tersus additions to Bootstrap styles */
.btn
{
	margin:2px 0px; /*minimal vertical margin*/
}
* + .btn, * + .btn-group
{
	:not(.column) {margin-left:5px;}
}
.btn-group>*+.btn, .header+.btn
{
	margin-left:0px;
}
.btn.with-right-icon
{
	padding-right:25px;
	i
	{
		margin:inherit;
		position:absolute;
		right:5px;
	}
}
.btn.with-left-icon
{
	padding-left:25px;
	i
	{
		margin:inherit;
		position:absolute;
		left:5px;
	}
}
.btn.with-minimal-margins, .label.with-minimal-margins, input.with-minimal-margins
{
	margin:2px 2px 2px 2px;
}