.tabbed-pane
{
	position:relative;
	overflow:visible;
	width:100%;
	ul.nav
	{
		margin-bottom:5px;
	}
	>div.pane {
		display:none;
		&.active, &.in {
			display: block;
		}
		&.active.out
		{
			display:none;
		}
		&.fade.in
		{
    		.transition(0.7s linear opacity);
    		.opacity(0);
		}
		&.fade.in.end
		{
    		.opacity(100);
		}
	}
}