	*
	{
	}	
	*.rtl
	{
		direction:rtl;
	}
	span.rtl
	{
		unicode-bidi:embed;
	}	

	
	body {
		background-color : #FFFFFF;
		margin-top : 0px;
		margin-bottom : 10px;
		margin-left : 10px;
		margin-right : 10px;
	}
	body.popin
	{
			background-color : #BCCED8;
			margin-top : 7px;
			margin-left : 7px;
			margin-right : 7px;
			margin-bottom : 0px;
			background-image : none;
	}
	body.popin table.grid tr td
	{
		border:none;

	}	
	body.popin_rtl
	{
		direction:rtl;
		background-color : #BCCED8;
		margin-top : 7px;
		margin-left : 7px;
		margin-right : 7px;
		margin-bottom : 0px;
		background-image : none;
		overflow:auto;
	}

	body, th, td, a, div, span, label, input, textarea, select {
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
	}

/*------------------------------------------------------------------------*/

	.BGColor1{ background-color : #FFFFFF; }
	.BGColor2{ background-color : #C1CED4; }
	.BGColor3{ background-color : #C9E0E7; }


body.rtl .headerBGImage {
	background-image : url(images/header/headerBGI_rtl.gif);
	background-position: right top;
	background-repeat: no-repeat;
}
.headerBGImage {
	background-image : url(images/header/headerBGI.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

.frame1 {background-color : #D6E8EB;}
.frame1Center{
	background-color : #D6E8EB;
	padding-top:10px;
	padding-bottom:10px;
}

body.rtl .frame2Left {
	background-image : url(images/frames/frame2L_rtl.gif);
	background-position: right;
}
.frame2Left {
	background-color : #F4FAFB;
	background-image : url(images/frames/frame2L.gif);
	background-position: left;
	background-repeat: repeat-y;
}
body.rtl .frame2Right {
	background-image : url(images/frames/frame2R_rtl.gif);
	background-position: left;
	}
.frame2Right {
	background-color : #F4FAFB;
	background-image : url(images/frames/frame2R.gif);
	background-position: right;
	background-repeat: repeat-y;
}

body.rtl .frame2Center{
	background-image : url(images/frames/frame2B_rtl.gif);
	}
.frame2Center{
	background-color : #F4FAFB;
	background-image : url(images/frames/frame2B.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	padding-top:13px;
	padding-bottom:8px;
}

.topText1 {
	font-size:18px;
	color: #003455;
	font-weight:bold;
}

.topText2 {
	font-size:10px;
	color: #003455;
}

.topText3 {
	font-size:11px;
	color: #003455;
	font-weight:bold;
}

.topText4 {
	font-size:10px;
	color: #003455;
}

.topLink1{
	font-size:10px; 
	color: #003455;
	text-decoration:none;
}

.topLinksSeparator {background-color : #D6E8EB;}

.inputText{
	font-size:11px;
	color: #003455;
}
.regText1{
	font-size:11px;
	color: #003455;
}

.regLink1{
	font-size:11px; 
	color: #003455;
}

.regLink2{
	font-size:10px; 
	color: #003455;
}

.advLink{
	font-size:10px; 
	color: #38627B;
}



	


/* Top Navigation ------------------- */

	.topNavTabNormal{
		font-size:12px;
		color: #003455;
		font-weight:bold;
		padding-left:7px;
		padding-right:7px;
		padding-top:0px;
		padding-bottom:5px;
		cursor : pointer;
	}
	
	.topNavTabSelected{
		font-size:12px;
		color: #000000;
		font-weight:bold;
		padding-left:7px;
		padding-right:7px;
		padding-top:0px;
		padding-bottom:2px;
		cursor : pointer;
		border-bottom:3px solid #FDA823;
	}
	
/* ----------------------------------- */

/* Left Navigation ------------------- */

	body.rtl .leftNavTabNormal{
		background-image : url(images/leftNav/normalTabBGI_rtl.gif);
	}		
	tr td.leftNavTabNormal{
		font-size:10px;
		color: #FFFFFF;
		font-weight:bold;
		/*background-color : #007CA5;*/
		background-image : url(images/leftNav/normalTabBGI.gif);
		background-position: left bottom;
		background-repeat: no-repeat;
		padding-left:8px;
		padding-right:5px;
		padding-top:6px;
		padding-bottom:11px;
		cursor : pointer;
		box-sizing: border-box;
	}
	
	body.rtl .leftNavTabSelected{
		background-image : url(images/leftNav/selectedTabBGI_rtl.gif);
		background-position: right bottom;
		padding-right:14px;
		padding-left:0px;
		}
	tr td.leftNavTabSelected{
		font-size:11px;
		color: #003455;
		font-weight:bold;
		/*background-color : #D6E8EB;*/
		background-image : url(images/leftNav/selectedTabBGI.gif);
		background-position: left bottom;
		background-repeat: no-repeat;
		padding-left:14px;
		padding-right:0px;
		padding-top:6px;
		padding-bottom:11px;
		cursor : pointer;
		box-sizing: border-box;
	}
	
/* ----------------------------------- */

/* Inner Navigation ------------------- */

	.innerNavTabsRowBGI {
		background-image : url(images/innerNav/innerNavTabsRowBGI.gif);
		background-position: bottom;
		background-repeat: repeat-x;
	}
	
	.innerNavTabNormalBGI{
		background-image : url(images/innerNav/BGI.gif);
		background-repeat: repeat-x;
		cursor : pointer;
		box-sizing: border-box;
	}
	
	.innerNavTabNormal{
		font-size:11px;
		color: #003455;
		padding-left:7px;
		padding-right:7px;
		padding-top:0px;
		padding-bottom:0px;
		box-sizing: border-box;
	}
	
	body.rtl .innerNavTabSelectedBGI{
		background-image : url(images/innerNav/BGI_d_rtl.gif);
		
		}
	.innerNavTabSelectedBGI{
		background-image : url(images/innerNav/BGI_d.gif);
		background-repeat: repeat-x;
		cursor : pointer;
		box-sizing: border-box;
	}

	.innerNavTabSelected{
		font-size:11px;
		color: #003455;
		font-weight:bold;
		padding-left:7px;
		padding-right:10px;
		padding-top:0px;
		padding-bottom:0px;
		box-sizing: border-box;
		
	}
	
/* ----------------------------------- */

/* Button 1 ------------------- */

	body.rtl .button1{
		background-image : url(images/button1/BGI_rtl.gif);
	}
	.button1{
		background-image : url(images/button1/BGI.gif);
		cursor : pointer;
	}
	
	.button1text{
		font-size:11px;
		color: #003455;
		padding-left:5px;
		padding-right:5px;
	}

/* ---------------------------- */

/* Button 2 ------------------- */

	body.rtl .button2{
		background-image : url(images/button2/BGI_rtl.gif);
	}
	.button2{
		background-image : url(images/button2/BGI.gif);
		cursor : pointer;
	}
	
	.button2text{
		font-size:11px;
		color: #003455;
		padding-left:4px;
		padding-right:5px;
	}

/* ---------------------------- */


/* For Data Table -------------------------------- */

	.dataTableTitle1{
		height:18px;
		padding-left:6px;
		padding-right:6px;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		font-weight:bold;
		color : #FFFFFF;
		background-color : #003455;
	}
	
	.dataTableBorder1{
		border-left: 1px solid #003455;
		border-right: 1px solid #003455;
		border-bottom: 1px solid #003455;
	}
	
	.dataTableLine1{
		background-color : #F4FAFB;
	}
	
	.dataTableHeaderRow{
		height:17px;
	}
	
	.dataTableAddRow{
		height:17px;
	}

	.dataTableHeader{
		padding-left:5px;
		padding-right:5px;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
		background-color : #D7E6EB;
		cursor:default;
	}

	.dataTableHeaderWithSorting{
		padding-left:5px;
		padding-right:5px;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
		background-color : #D7E6EB;
		cursor : pointer;
	}

	.sort_down{
		background-image : url(images/dataTable/sortedHeaderDown.gif);
		background-position: right;
		background-repeat: no-repeat;
		font-weight:bold;
	}


	.sort_up{
		background-image : url(images/dataTable/sortedHeaderUp.gif);
		background-position: right;
		background-repeat: no-repeat;
		font-weight:bold;
	}
	table.normal thead tr th.sort_up{
		background-image : url(images/dataTable/sortedHeaderUp.gif);
		background-position: right;
		background-repeat: no-repeat;
		font-weight:bold;
	}
	table.normal thead tr th.sort_down{
		background-image : url(images/dataTable/sortedHeaderDown.gif);
		background-position: right;
		background-repeat: no-repeat;
		font-weight:bold;
	}
	
	.dataTableHeaderSep{
		background-color : #A8BEC9;
	}

	.dataTableSep{
		background-color : #A8BEC9;
	}
	
	.DivForDataTableWithScroll{
		width: 100%;
		height: 100%;
		overflow-y:auto;
		background-color : #F9FCFD;
	}

	.DivForDataTableWithScroll2{
		width: 100%;
		height: 126px;
		overflow-y:auto;
		background-color : #EDF4F6;
	}

	.dataTableRow{
		height:17px;
		background-color : #F9FCFD;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
	}

	.dataTableRow2{
		height:17px;
		background-color : #EDF4F6;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
	}

	.dataTableRowSelected{
		height:17px;
		background-color : #F6EAD0;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
	}
	
	.dataTableCell{
		padding-left:5px;
		padding-right:5px;
		cursor:default;
	}

/* ------------------------------------------------ */

/* Bottom Information Part ------------------------ */

	.bottomInformationPartHeader{
		width:100%;
		border-left: 1px solid #003455;
		border-right: 1px solid #003455;
		border-bottom: 1px solid #003455;
		background-color : #F6EAD0;
		padding: 4px;
	}

	.bottomInformationPartHeaderRow{
		background-color : #3D657E;
	}
	
	.bottomInformationPartHeaderText{
		height:18px;
		padding-left:6px;
		padding-right:30px;
		font-size:11px;
		color: #FFFFFF;
		font-weight:bold;
	}
	
	.bottomInformationPartBody{
		width:100%;
		border-left: 1px solid #003455;
		border-right: 1px solid #003455;
		border-bottom: 1px solid #003455;
		/*background-color : #EDF4F6;*/
		display: block;
	}

/* ------------------------------------------------ */


.textbox1{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #003455;
	background-color : #FFFFFF;
	border:1px solid #426E82;
	width: 100px;
}

.textbox2{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #003455;
	background-color : #FFFFFF;
	border:1px solid #426E82;
	width: 130px;
}

.combobox1{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #003455;
	background-color : #FFFFFF;
	border:1px solid #426E82;
	width: 110px;
}

.combobox2{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #003455;
	background-color : #FFFFFF;
	border:1px solid #426E82;
	width: 131px;
}

	.regularRow{
		background-color : #EDF4F6;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
	}

	table.dataTable tr.selectedRow {
		background-color : #F6EAD0;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		color : #003455;
	}
	table.dataTable
	{
		background-color : #A8BEC9;
		width:100%;
		height:100%;
	}
	td.horizontalLine 
	{
		background-color: #C8DEF9;
	}
	table.dataTable thead  tr
	{
		color : #003455;
		background-color : #D7E6EB;
	}
	table.dataTable tr.header
	{
		color : #003455;
		background-color : #D7E6EB;
	}
	table.dataTable tr
	{
		background-color : white;
	}
	td.addItem
	{
		font-size : 10px;
		padding-left:2px;
		height:17px;
		color: #3862D0;
		cursor : pointer;
		text-decoration: underline;
	}
	.actionText
	{
		font-size : 10px;
		color: #3862D0;
		cursor : pointer;
		text-decoration: underline;
	}
	.hyperlink
	{
		color: blue;
		cursor : pointer;
		text-decoration: underline;
	}
	
	table.grid>tr>td
	{
		padding-right:0px;
		padding-left:0px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align:baseline;

	}	
	table.grid tr.alignTop td
	{
		vertical-align:top;
	}	
	table.grid tr td
	{
		border:none;
	}
	table.grid tr
	{
		border:none;
	}
	
	table.grid2>tr>td
	{
		padding-right:0px;
		padding-left:0px;
		padding-top:0px;
		padding-bottom:0px;
		vertical-align:baseline;

	}	
	td.gridright
	{
		padding-right:0px;
		padding-left:0px;
		padding-top:0px;
		padding-bottom:0px;
		text-align:right;
	}
	
	td.right
	{
		padding-right:5px;
		padding-left:5px;
		padding-top:2px;
		padding-bottom:2px;
		text-align:right;
	}
	/* ------------------------------------------------ */
	table.normal
	{
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size : 11px;
		border-collapse: collapse;
   	 	border-left: 1px solid #003455;
   	 	border-right: 1px solid #003455;
   	 	border-bottom: 1px solid #003455;
   	 	margin-bottom:1em;
	}
	table.normal.resizing
	{
		cursor:e-resize;
	}
	table.normal caption
	{
		text-align:left;
		height:18px;
		padding-left:6px;
		padding-right:6px;
		padding-top:3px;
		padding-bottom:3px;
		font-weight:bold;
		color : #FFFFFF;
		background-color : #003455;
		white-space:nowrap;
	}
	body.rtl table.normal caption
	{
		text-align:right;
	}
	table.normal thead tr th
	{
		vertical-align: top;
	}
	
	table.normal tr
	{
		height:17px;
    }
    
	table.normal tr.selected
	{
		height:17px;
		background-color : #F6EAD0;
		
    }
	table.normal thead tr td 
	{
		background-color : #D7E6EB;
	}
	table.normal th 
	{
		font-weight: normal;
		text-align:left;
		padding-left:5px;
		padding-right:5px;
		background-color : #D7E6EB;
    	border: 1px inset #A8BEC9;
    }
	/*For zebra tables - "table.normal tbody tr.odd" would be preferable but may have more side-effects in legacy apps*/
	.odd 
	{
		background-color:#DDDDFF;
	}
	table.normal td 
	{
    	border: 1px inset #A8BEC9;
		font-weight: normal;
		padding-left:5px;
		padding-right:5px;
    }
    table.normal tbody tr.emphasis td
    {
    	font-weight:bold;
    	color:#0000ff;
    }
    table.normal tbody tr td.alert
    {
    	font-weight:bold;
    	background-color: #ffD0D0;
    	color:#B00000;
    }
    table.normal thead tr th img
    {
    	margin-left:1em;
    }
    input
    {
    	vertical-align:bottom;
    }
    /* input[readonly] {background-color:#e0e0e0;}*/
    button:disabled
    {
		color: graytext;
		cursor: default;
		background-color: transparent;
		padding-bottom:1px;
		padding-top:0px;
		padding-left:6px;
		padding-right:7px;
		border: 1px solid gray;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		vertical-align:middle;
		margin-left:1px;
		margin-right:1px;
	}
    button
    {
		background-color: transparent;
		cursor: pointer;
		padding-bottom:0px;
		padding-top:0px;
		padding-left:6px;
		padding-right:6px;
		margin-left:1px;
		margin-right:1px;
		border-left: 1px solid #7b97a3;
		border-right: 2px solid #7b97a3;
		border-top: 1px solid #7b97a3;
		border-bottom: 2px solid #7b97a3;
		font-family : Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color: #003455;
		vertical-align:middle;
		
	}
	
	.label
	{
		font-weight: bold;
		white-space: nowrap;
	}
	
	form.inline
	{
		display:inline;
	}
	table.grid tr td
	{
		vertical-align: baseline;
	}
	table.grid tr td span
	{
		vertical-align: baseline;
	}
	table.grid tr td input
	{
		vertical-align: baseline;
	}
	table.grid tr td span input
	{
		vertical-align: baseline;
	}

	iframe.hidden
	{
		width:0px; height:0px; border: 0px;display:none;
	}
	span.monospace
	{
		font-family: monospace;
		font-size: 12px;
	}
	tr.changeRow
	{
    	font-weight:bold;
    	color:red;
	}
	div.break
	{
		height:1em;
	}
	/* Sets vertical alignment of child elements inside normal div*/
	div.vertical>*
	{
		display: block;
		margin-bottom : 0.25em;
	}
	

img.tree_item_icon {
	height:18px;
	width:18px;
	background-position: center center;
	background-repeat: no-repeat;
}
img.tree_item_atomic {
	height:18px;
	width:18px;
}
img.tree_item_collapsed {
	height:18px;
	width:18px;
	background-image : url(images/tree/expand.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
img.tree_item_expanded {
	height:18px;
	width:18px;
	background-image : url(images/tree/collapse.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
span.tree_item_header * {
	vertical-align:middle;
}
span.tree_item_header {
	cursor:pointer;
	white-space:nowrap;
}
.tree_item {
}
.tree_item_content {
	padding-left:20px;
}

.tree_item_header_text {
	margin-left: 2px;
}
.tree_item_header_text_selected {
	margin-left: 2px;
	background-color:#0a246a;
	color:white;
}

.red
{
	color:red;
}

.splitPane
{
	position:relative;
	border-style:solid;
	border-color:black;
}
.splitPane.resizing
{
	cursor:e-resize;
}
.splitPaneDivider
{
	cursor:pointer;
	cursor:e-resize;
	background-color:gray;
	overflow:auto;
	float:left;
}
.splitPaneDivider.rtl
{
	float:right;
}
.splitPaneContent
{
	overflow:auto;
	float:left;
}
.splitPaneContent.rtl
{
	float:right;
}
.vSplitPaneDivider
{
	cursor:pointer;
	cursor:n-resize;
	background-color:gray;
	overflow:hidden;
}
.vSplitPane.resizing
{
	cursor:n-resize;
}

.vSplitPaneContent
{
	overflow:auto;
}

.alignTop
{
	vertical-align:top;
}
.alignBottom
{
	vertical-align:bottom;
}
.alignMiddle
{
	vertical-align:middle;
}
.alignLeft
{
	text-align:left;
}
.alignRight
{
	text-align:right;
}
.alignCenter
{
	text-align:center;
}

/* New Tree
span.ntree_item_header {
	cursor:pointer;
	white-space:nowrap;
}
span.ntree_item_inner_header {
	cursor:pointer;
	white-space:nowrap;
	vertical-align:middle;
}
span.ntree_item_inner_header_selected {
	cursor:pointer;
	white-space:nowrap;
	vertical-align:middle;
}
.ntree_item {
}
.ntree_item_body {
	padding-left:20px;
}
body.rtl .ntree_item_body {
	padding-right:20px;
	padding-left:0px;
}
body.popin_rtl .ntree_item_body {
	padding-right:20px;
	padding-left:0px;
}
span.ntree_item_inner_header > * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}
span.ntree_item_inner_header_selected > * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}
span.ntree_item_inner_header_selected span
{
	background-color:#0a246a;
	color:white;	
}
img.ntree_toggle_atomic {
	height:18px;
	width:18px;
	vertical-align:middle;
}
img.ntree_toggle_collapsed {
	height:18px;
	width:18px;
	vertical-align:middle;
	background-image : url(images/tree/expand.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
img.ntree_toggle_expanded {
	height:18px;
	width:18px;
	vertical-align:middle;
	background-image : url(images/tree/collapse.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
*/
.invalid
{
	background-color:#FFDDDD;
}
*.invalid input
{
	background-color:red;
	color:white;
}
*.invalid textarea
{
	background-color:red;
	color:white;
}
*.invalid select
{
	background-color:red;
	color:white;
}
input.invalid
{
	background-color:red;
	color:white;
}
select.invalid
{
	background-color:red;
	color:white;
}
textarea.invalid
{
	background-color:red;
	color:white;
}

input.pf_txt {
border: 2px inset rgb(212,208,200);
}

button.pf_browse {
	border: 2px inset rgb(212,208,200);
	width:18px;
	margin-right: 0px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	vertical-align:bottom;
	position:relative;
	background-image:url(images/browse.gif);
	background-position: right center;
	background-repeat: no-repeat;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-ms-box-sizing:content-box;
}

button.pf_browse img {
	width:16px;
	height:1px;
	postion:relative;
	top:0;
	left:0;
	margin:0;
	border:none;
}

table.options
{
	border:1px solid black;
}
table.options tr.highlight
{
	background-color:#0a246a;
	color:white;
}
img.divider
{
	background-color:gray;
	width:1px;
	height:1.5em;
	border:none;
	vertical-align:bottom;
	margin-left:0.5em;
	margin-right:0.5em;
}

.progressBar
{
	padding:20px;
	border:1px solid black;
	margin:20px;
	background-color:#F4FAFB;
	position: absolute;
	bottom: auto;
	z-index:500;
}
button.menuButton
{
	background-image:url('images/menu_button.gif');
	background-position: center right;
	padding-right:10px;
	background-repeat: no-repeat;
}

span.radioLabel
{
	cursor:pointer;
}
span.checkboxLabel
{
	cursor:pointer;
}
input.checkbox
{
	vertical-align:bottom;
}
input.radio
{
	vertical-align:bottom;
}
/** Dialogs (currently - popup and popin ) **/
.dialogHeader{
	background-image : url(images/dialog/dialogHeader.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-color : #F4FAFB;
	padding-top:5px;
	padding-left: 5px;
	padding-right: 16px;
	border: 1px solid #628397;
	font-size:13px; 
	color: #003455;
	font-weight:bold;
	height:23px;
}
body.popin_rtl .dialogHeader
{	
	background-image : url(images/dialog/dialogHeader_rtl.jpg);
	background-position: left top;
	padding-left: 16px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-color : #F4FAFB;
	padding-top:5px;
	border: 1px solid #628397;
	font-size:13px; 
	color: #003455;
	font-weight:bold;
	height:23px;
}
body.rtl .dialogHeader{
	background-image : url(images/dialog/dialogHeader_rtl.jpg);
	background-position: left top;
	padding-left: 16px;
	padding-right: 5px;
}
.dialogBody
{
	overflow:auto;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 17px;
	padding-bottom: 5px;
	background-color: #F4FAFB;
	border-bottom: 1px solid #628397;
	border-left: 1px solid #628397;
	border-right: 1px solid #628397;
	vertical-align:baseline;
}
.dialog .dialogBody
{
	border-left:none;
	border-right:none;
}
.dialog .dialogHeader
{
	border-left:none;
	border-right:none;
}
.dialogFooter
{
	height:30px;
	padding-left: 10px;
	padding-right: 10px;
}
.dialog .dialogFooter
{
	background-color:white;
}
.dialogFooter button
{
	background-color:white;
}

.dialogFooter
{
	position:relative;
}
.dialogFooter table
{
	float:right;
}

body.popin_rtl .dialogFooter table
{
	float:left;
}
body.rtl .dialogFooter table
{
	float:left;
}

div.drag_feedback
{
	border:1px solid black;
	background-color:#a8e9cd;
	position:absolute;
}
/** Autocomplete styles **/
.autocomplete
{
	background-color:white;
	border:1px solid black;
}
.selectedOption
{
	background-color:black;
	color:white;
}
div.dialog_mask  
{
	background-image: url(images/dialog_mask.png);
	background-repeat: repeat;
}
div.dialog
{
	border: 4px solid blue;
	background-color:white;
}
.menu_item img
{
	vertical-align:middle;
	margin-left:2px;
	margin-right:2px;
}
.menu_item a
{
	font-weight:bold;
	text-decoration:none;
	color:black;
	background-color:transparent;
	padding-left:0px;
	padding-right:0px;
}
.menu_item a:hover
{
	color:white;
}
.menu_item a:focus
{
	color:white;
	border:none;
}
.menu_item a.focus
{
	color:white;
	border:none;
}

table.menu_bar
{
	background-color:#afafaf;
	margin-bottom:0.5em;
}

body.progress *
{
	cursor:wait;
}
body.progress div *
{
	cursor:wait;
}
body.progress div div *
{
	cursor:wait;
}
table.mceToolbar tbody tr td
{
	vertical-align:middle;
}
body#tinymce
{
	margin-right:2px;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
body#tinymce
{
	margin-right:2px;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
body.rtl#tinymce
{
	margin-right:2px;
	margin-left:2px;
	margin-top:2px;
	margin-bottom:2px;
}
img.spacer_image
{
	display:block;
}
