body
{	
	scrollbar-base-color : #97A4BE;
	scrollbar-arrow-color : #33415F;
	scrollbar-face-color : #E0F1F1;
	scrollbar-highlight-color : #FFFFFF;
	scrollbar-shadow-color : #808080;
	scrollbar-track-color: #F4F9FF;
	scrollbar-3dlight-color : #33415F;
	scrollbar-darkshadow-color : #33415F;
}
input.checkbox
{
	vertical-align:middle;
}
input.radio
{
	vertical-align:middle;
}
.dialog_mask
{
	opacity: .5;
	filter: alpha(opacity=50);
	background-color: #2f2f2f;
}

    button.disabled
    {
		color: graytext;
		cursor: default;
		padding-bottom:1px;
		border: 1px solid gray;
		margin-right:2px;
	}
span.ntree_item_inner_header * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}
span.ntree_item_inner_header_selected * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}

/* inset style not supported correctly in IE8 */
table.normal th {
     border-style: solid;
}
table.normal td {
     border-style: solid;
}