.testRunnerHeader
{
	text-align:center;
	background-color:silver;
}
.testRunnerLogDateAndTimeColumn
{
	color:blue;
	white-space:nowrap;
}
.testRunnerLogTypeColumn
{
	color:green;
	white-space:nowrap;
}
.testRunnerLogDescriptionColumn
{
	color:black;
	white-space:nowrap;
}
.testRunnerLogError
{
	background-color:red;
}
.testRunnerLogWarning
{
	background-color:fuchsia;
}
.testRunnerNameLink
{
	color: navy;
	cursor : pointer;
	text-decoration: underline;
}
.testRunnerScrollPane
{
	border-width:0pt;
	width:100%;
	height:100%;
}