/*****body***/
	.iPhoneBody{ 	height:310px; }
body{
	background-color : black;
	background-repeat:repeat;
	position:relative;
	background-image:url(images/iphone/backgroundStripes.png);
	color:black;
	margin: 0px 0px 0px 0px;
	font-family:Helvetica,sans-serif;
	width:inherit;
}

body.popin
{
	background-image:url(images/iphone/backgroundStripes.png);
	overflow:hidden;
	margin: 0px 0px 0px 0px;
}

body, th, td, a, div, p,span, label, input, textarea, select
{
	font-size:14px;
	font-weight:bold;
	color:black;
}
.body
{
	padding:4px 0px;
}
.body>button{display:block;margin-left:10px;}
.body>span{display:block;margin-left:10px;}
.body>span>textarea{width:80%;height:5em;}
.body>span>input{width:80%;}
.inner_dialog
{
	position:absolute;
	top:0;
	width:100%;
	background:url(images/iphone/backgroundStripes.png);
	-webkit-transform: translateX(80%);
	-webkit-transition-duration: 1000ms;
	-webkit-transition-property: -webkit-transform;
}
.inner_dialog.open
{
	-webkit-transform: none;
}
.inner_dialog.closed
{
	-webkit-transform: translateX(100%);
}

.header
{
	height:44px;
	background:url(images/iphone/header.png) repeat-x;
	text-align:center;
	vertical-align:middle;
}

.header>h1
{
	vertical-align:middle;
	text-align:center;
	padding:10px;
	font-size: 20px;
	font-weight: bold;
	color:white;
	margin:0px;
}
.header>button
{
	-moz-border-image:url(images/iphone/button_border.png) 0 8 0 8 stretch stretch;
	-webkit-border-image:url(images/iphone/button_border.png) 0 8 0 8 stretch stretch;
	background:none;
	border-width:0 8px 0 8px;
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:0;
	margin:0;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.596);
	white-space:nowrap;
	color:white;
}

button.header_button
{
	position:absolute;
	top: 7px;
	right:7px;
}
button.ok
{
	position:absolute;
	top:7px;
	right:7px
}
button.cancel
{
	position:absolute;
	top:7px;
	left:7px;
}

button.back, button.cancel {
	-moz-border-image:url(images/iphone/back_button_border.png) 0 8 0 14 stretch stretch;
	-webkit-border-image:url(images/iphone/back_button_border.png) 0 8 0 14 stretch stretch;
	border-width:0 8px 0 14px;
}

.contentCell{overflow: scroll; width:100%;}


button, label
{
	font-size:18px;

}

button {
	background-image: url(images/iphone/button-background-simulated.png);
	text-align:center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 0px 0.1px 0.1px;
    -moz-border-radius: 5px;

}

button:disabled {
	display: block;
	background-image: url(images/iphone/button-background-simulated.png);
	text-align:center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;
	color: graytext;
	text-shadow: #fff 0px 0.1px 0.1px;
}


/*Dialog*/
.dialog *
{
	font-weight:auto;
	font-size:12px;
}

.dialogHeader{
	background:#6D84A2 url(images/iphone/iPhoneToolbar.png) repeat-x scroll 0 0;
	border-bottom:1px solid #2D3642;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	margin:0;
	text-align:center;    -webkit-border-radius: 5px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.6);
	padding-top:3px;
	vertical-align:middle;
	padding-bottom:3px;
}
.dialogBody{
	background: none;
	border:none;
}

/**Table**/

table.menu_bar
{
	width:100%;
	marcgin-bottom:2px;
}

table.normal
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
 	margin-bottom:2px;
	width:100%;
	background-color:white;
}

table.normal caption
{
	vertical-align:middle;
	height:auto;
	margin-left:1px;
	margin-right:1px;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:3px;
	font-weight:bold;
	background-color : transparent;
	white-space:nowrap;
}

table.normal caption div
{
	vertical-align:middle;
	text-align:center;
	font-size:18px;
}

table.normal tr
{
	height:auto;
	border:rgb(135,135,135) solid 1px;
	font-size:40px;
	color: black;
	line-height: 26px;
	margin-left:9px;
	margin-right:9px;
	margin-top:3px
	overflow:hidden;
	padding:0;position:relative;
	width:auto;
}

table.normal tr.selected
{
	background-image:url(images/iphone_selected_row_bg.gif);
	background-position:top left;
	background-repeat:repeat;
	background-color : transparent;
	height:auto;
	border-width: 1px 1px 1px 1px;
}

table.normal thead
{
	background-color : #D7E6EB;
}

table.normal th 
{
	background-color:transparent;
	font-weight:bold;
	font-size : 14px;
	padding: 4px 4px 4px 4px;
	border-width: 1px 1px 1px 1px;
}


table.normal td 
{
	padding: 4px 4px 4px 4px;
	font-size : 14px;
	border-width: 1px;
	border-color: white;
}

table.normal tbody tr.odd
{
	background-color: #bbb;
}


table.normal tbody tr.even
{
	background-color:#8c8ca6;
}
/**Scrollable **/
div.scrollPane
{
overflow-y:auto;
overflow-x:hidden;
z-index:1;
padding:0 2px;
border:none;
}
div.scrollPaneWrapper
{
overflow:hidden;
z-index:1;
padding:0 2px;
}
div.Scrollable
{
	overflow-y:auto;
	overflow-x:hidden;
	z-index:1;
	padding:0 2px;
	border:none;
}



/**List **/
ul.menu_list {
list-style-type: none;
background-color: white;
display:block;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
border:1px solid #878787;
padding:0;

margin:0px 4px;
vertical-align:middle;
cursor:pointer;
}

ul.menu_list input
{
	width:100%;
}

ul.menu_list>li>button
{
	display:block;
}

li.menu  .label
{
	color:#aaaaaa;
}
li.menu
{
	border-top:1px solid #878787;
	display:block;
	position:relative;
	vertical-align:bottom;
}


li.menu:hover {
	background: url(menutouched.png) repeat-x;
}
li.menu:first-child
{
	border-top:none;
}
li.menu:first-child:hover
{
	-webkit-border-top-left-radius: 8px 8px;
	-webkit-border-top-right-radius: 8px 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

li.menu:last-child:hover
{
	-webkit-border-bottom-left-radius: 8px 8px;
	-webkit-border-bottom-right-radius: 8px 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

li.menu img
{
	margin-left:10px;	
	margin-right:10px;
	height:40px;
	vertical-align:middle;
}

li.menu div
{
	margin-left:10px;	
	margin-right:10px;


}
li.menu div.label
{
	position:absolute;
	top:1px;
    font-size: 11px;
    color: #999999;
    margin-right:-10px;
	
}
li.menu input
{
	font-family:Helvetica;
    box-sizing: border-box;
    margin: 0;
    border:none;
    outline:none;
    padding: 14px 4px;
    background: none;
    font-size: 16px;
    font-weight: normal;
    line-height:18px;
    vertical-align:bottom;
}

li.menu.item
{
	font-size:20px;
	font-weight:bold;
	margin:0;
	position:relative;
	vertical-align:middle;
}
li.menu.item span
{
	font-size:20px;
	vertical-align:middle;
	padding:8px 0 8px 10px;
}


li.menu:hover {
	background: url(menutouched.png) repeat-x;
}

li.menu .arrow
{
	background: url(images/iphone/arrow.png) no-repeat;
	scroll 0 0;
	height:13px !important;
	margin-top:2%;
	margin-bottom:auto;
	width:8px !important;
	display: block;
	float: right;
	margin-top:15px;
	margin-right:10px;
	margin-bottom:4px;
	padding-right:10px;
}

div.content
{
	display:inline-block;
	width:80%;
}
.red_text
{
	color: red;

	display:block;
}

.content_text
{
	display:block;
}
.grey_text
{
	color:grey;
	font-style:italic;
	display:block;
}


/* NAVBAR */
ul.navbar {
	list-style-type:none;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:-1px;
	background:#000000 url(navbar.gif);
	height: 46px;
	padding-top:2px;
	position:fixed;
	bottom:0px;
	width:100%;
	left:0;
}

li.navbar{
	float:left;
	text-align:center;
	cursor:pointer;
	margin:0px 9%;
}
span.navbar{
	display:block;
	color:white;
}

 /* Floating Toolbar */

div.hiddenFloat{
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-box-shadow:8px 9px 5px #888888;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(100%,0);
	-webkit-transition: all 0.8s ease-out;
	background-color:white;
	height:40px;
	position:fixed;
	top:1px;
	float:left;
	border:1px solid #878787;
	vertical-align:middle;

  display: table-cell;
	opacity:0;
   vertical-align: middle;
}

div.showFloating
{
	background-color:#c4cdf4;
	border:1px solid #878787;
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-box-shadow:8px 9px 5px #888888;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;

  display: table-cell;
	height:40px;
	position:fixed;
	right:3px;
	float:left;
	vertical-align:middle;
	z-index:999;
	margin-top:5px;
}

.showFloating button{
	font-size:14px;
	padding-top:4px;
	padding-bottom:4px;
	margin-left:2px;	margin-right:2px;
	display:inline;
	margin-top:7px;
}

.floating img{
	right:0;
	vertical-align:bottom;
	cursor:pointer
}

span.floatClose {
	display:inline;
	background:url(images/iphone/close-float.png) no-repeat;
	width:30px;
	float:right;
	cursor:pointer;
	height:40px;
	margin-top:-2px;
	margin-left:2px;
}

div.floatBody
{
	display:inline;
}


/* Cool Dialog */


/*when the dialog is closed */
.confirm_screen {
	position: absolute;
	bottom: -15;
	background-image: url(images/iphone/actionDialog/popup-bg.png); 
	opacity: 0;
	display:block;

	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(0,100%);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.0s;
}



.confirm_screenopen {
	position: absolute;
	opacity: 0.9;
	overflow: hidden;
	bottom: -10px;
	width: 100%;
	background: url(images/iphone/actionDialog/popup-bg.png) repeat-x #4e545f;
	text-align: center;
	z-index: 99999;
-webkit-transition: -webkit-transform 0.8s ease-in;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(0,0);
}
.confirm_screenclose {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	bottom: -100%;
	width: 100%;
	background: url(images/iphone/popup-bg.png) transparent repeat-x #545A67;
	text-align: center;
	-webkit-transition: all 1.5s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(0,150%);


}
.confirm_screenopen span, .confirm_screenclose span{
	margin: 10px 0 20px;
	font-size: 17px;
	color: #fff;
	width: 100%;
	height: 10px;
	text-shadow: rgba(0,0,0,1) 0 -1px 0;
	display: block;
}
.action_dialog {
	position: absolute;
	bottom:0;
	width: 100%;
	left: 0;
	z-index: 9999;
}

.confirm_screenopen a {
	text-decoration: none;
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -15px;
	margin-top: 0;
	cursor:pointer;
}
.confirm_screenopen span.black, .confirm_screenopen span.red, .confirm_screenopen span.gray {
	display: block;
	height: 46px;
	border-width: 0 14px;
	margin-left:10px;
	margin-right:10px;
	width: auto;
	background-repeat: no-repeat;
	line-height: 46px;
	font-size: large;
	opacity: 1;
	font-weight: bolder;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor:pointer;
}
.confirm_screenopen span.black {
	-webkit-border-image: url(images/iphone/actionDialog/graybutton.png) 0 14 0 14;
	-moz-border-image: url(images/iphone/actionDialog/graybutton.png) 0 14 0 14;
	color: #fff;
}

.confirm_screenopen span.gray {
	-webkit-border-image: url(images/iphone/actionDialog/whitebutton.png) 0 14 0 14;
	-moz-border-image: url(images/iphone/actionDialog/whitebutton.png) 0 14 0 14;
	color: #000;
	text-shadow: white 0 1px 0;
}

.confirm_screenopen span.gray:hover{
	-webkit-border-image: url(images/iphone/actionDialog/bluebutton.png) 0 14 0 14;
	-moz-border-image: url(images/iphone/actionDialog/bluebutton.png) 0 14 0 14;
}


.confirm_screenopen a:last-child {
	margin-bottom: 20px!important;
}
.confirm_screenopen a:hover span.black, .confirm_screenopen a:hover span.gray:hover {
	-webkit-border-image: url(images/iphone/actionDialog/bluebutton.png) 0 14 0 14;
	-moz-border-image: url(images/iphone/actionDialog/bluebutton.png) 0 14 0 14;
	color: #fff;
	text-shadow: rgba(0,0,0,1) 0 -1px 0;
}
