/*const unsigned short WEBKIT_KEYFRAMES_RULE = 7;

const unsigned short WEBKIT_KEYFRAME_RULE = 8;*/

/* Portrait */
@media screen and (max-width: 320px)
{
	.iPhoneBody{ 	height:460px; }
}

/* Landscape */
@media screen and (min-width: 321px)
{
	.iPhoneBody{ 	height:300px; }
}

body{

	-webkit-text-size-adjust:none;
	-webkit-margin-top-collapse:separate;
	-webkit-margin-bottom-collapse:separate;
	-webkit-touch-callout:none
	-webkit-user-select: none;
}
table.normal tr{
	-webkit-margin-bottom-collapse:separate;
	-webkit-margin-top-collapse:separate;

}


button {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 20s;
	-webkit-border-image: url(images/iphone/whiteButton.png) 9 9 9 9;
	font-size: 15px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:0;
	padding-right:0;
	border-width: 0 1px 0 1px;
  -webkit-border-radius: 7px;
}

.confirm_screenopen{bottom:0;}
