html {
	overflow-x: hidden;
	overflow-y: auto;
}
/* This adds a negative vertical and horizontal margin, the exact amount that IE adds,
 thus eliminating the artificial need for a scrollbar. 
body {
	margin-right: -15px;
	margin-bottom: -15px;
}*/

table.normal
{
    font-family : Verdana, Arial, Helvetica, sans-serif;
    border:rgb(135,135,135) solid 1px;
     margin-bottom:2px;
    width:100%;
    background-color:white;
}

button
{
	font-size: 14px;
	padding-left:3px;
	padding-right:3px;
}
.header>button
{
	background-image: url(images/iphone/button-background-simulated.png);
	border:none;
	padding-left:6px;
	padding-right:6px;
}

ul.navbar{width:440px;}
