button {
	background-image: url(images/iphone/button-background-simulated.png) repeat-x;
	font-size: 17px;
	margin-right:6px;
	padding-left:8px;
	padding-right:8px;
 -webkit-border-radius: 5px;

}

div.hiddenFloat{visibility:hidden;}

div.showFloating{visibility:visible;}

.showFloating button{
	font-size:13px;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:5px;
}

