/* New Tree */
span.ntree_item_header {
	cursor:pointer;
	white-space:nowrap;
}
span.ntree_item_inner_header {
	cursor:pointer;
	white-space:nowrap;
	vertical-align:middle;
}
span.ntree_item_inner_header_selected {
	cursor:pointer;
	white-space:nowrap;
	vertical-align:middle;
}
.ntree_item {
}
.ntree_item_body {
	padding-left:20px;
}
body.rtl .ntree_item_body {
	padding-right:20px;
	padding-left:0px;
}
body.popin_rtl .ntree_item_body {
	padding-right:20px;
	padding-left:0px;
}
span.ntree_item_inner_header > * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}
span.ntree_item_inner_header_selected > * {
	vertical-align:middle;
	padding-left:1px;
	padding-right:1px;
}
span.ntree_item_inner_header_selected span
{
	background-color:#0a246a;
	color:white;	
}
img.ntree_toggle_atomic {
	height:18px;
	width:18px;
	vertical-align:middle;
}
img.ntree_toggle_collapsed {
	height:18px;
	width:18px;
	vertical-align:middle;
	background-image : url(images/tree/expand.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
img.ntree_toggle_expanded {
	height:18px;
	width:18px;
	vertical-align:middle;
	background-image : url(images/tree/collapse.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
