body
{
	background-image:none;
	background-color:white;
}
body div table.normal
{
	border:1px solid #A8BEC9;
}
body div table.normal caption
{
	margin-top:2px;
        background-color:#f3c7c7;
	border:1px solid #A8BEC9;
	border-bottom:none;
}
body div table.normal th
{
        background-color:#ffeeee;
	color:#660000;
}

body div table.normal caption div
{
	color:#660000;
}
body div button
{
	color:#660000;
}
body div table.normal tfoot td 
{
	background-color:#ffeeee;
	color:#660000;
}
body div table.normal td
{
        color:#989191;
}



