html body
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.ui-btn:visited { color: inherit; } /*Override for JQM style which cause selection fields to be white*/

iframe.hidden
{
	display:none;
}
.tersus-scroll-content
{
	width:100%;
}
div.ter-tp-content
{
	position:relative;
}

div.ter-tp-content>div
{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
}
div.ter-tp-content>div.ter-tp-active
{
	display:block;
}

div.ter-dialog-container
{
	position:relative;
}
div.ter-dialog
{
	display:none;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}
.ui-header
{
	min-height:39px;
}
div.ter-dialog .ui-header
{
	position:relative;
	width: auto;
}

div.ter-overlay div.ui-header
{
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
}
div.ter-overlay.ter-noheader div.ui-content
{
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
}
div.ter-dialog div.ui-content
{
	background-color:white;
}
div.ter-overlay div.ui-content
{
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
}
div.ter-overlay>div
{
	margin:20px auto;
	width:90%;
}
div.ter-dialog-active,div.ter-dialog.ter-active
{
		display:block;
}
div.ter-radiobutton
{
	display:inline-block;
}
.ui-mobile-viewport
{
	   min-height: 20px;overflow-y:visible; /* without this, no animation on 2G iphone because view port height is 0 and overflow content is hidden */
	   position:relative;
}
/*
.ui-select select
{
	display:none;
	position:static;
	top:default;
	left:default;
}
*/

/*  Our own classes for animated transitions.  jQuery Mobile animations based on -webkit-animation-name and @-webkit-keyframes are not working properly on Samsung Galaxy S with complex graphics*/
.ter-slide
{
	-webkit-transition-duration: 500ms;
    -webkit-transition-property: -webkit-transform;
}
.ter-slide.right
{
	-webkit-transform:translateX(100%);
}
.ter-slide.left
{
	-webkit-transform:translateX(-100%);
}
.ter-slide.in
{
	-webkit-transform:translateX(0px);
}


/* Workaround for navbar positioning issue  on iOS 3 - see html-css-testcases/ios3-footer-position-bug*/
.ui-navbar
{
	overflow:visible;
}

/* Some tweaks for list items with thumbnail */

.ui-li-has-thumb .ter-list-item
{
	min-height:80px;
	padding-left:85px;
}
.ui-li-has-thumb .ter-list-item
{
	min-height:80px;
	padding-left:85px;
}
.ter-list-item img.ui-li-thumb
{
		max-height:60px;
		max-width:60px;
		margin:10px;
}
/* Default style for "more details" paragraph in (new) list item */
.ter-list-item>p
{
	white-space:normal;
	margin:0px -50px 0px 0px;
}

div.ui-corner-all>div.ui-li:first-child
{
	-moz-border-radius-topleft: .6em; -webkit-border-top-left-radius: .6em; border-top-left-radius: .6em; -moz-border-radius-topright: .6em; -webkit-border-top-right-radius: .6em; border-top-right-radius: .6em; 
}
div.ui-corner-all>div.ui-li:last-child
{
 -moz-border-radius-bottomleft: .6em; -webkit-border-bottom-left-radius: .6em; border-bottom-left-radius: .6em; -moz-border-radius-bottomright: .6em; -webkit-border-bottom-right-radius: .6em; border-bottom-right-radius: .6em; 
}

/* Needed to avoid having ui-corner-all at the intermediate level 

.ui-btn-corner-all>.ui-btn-inner
{
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
   background-clip: padding-box;
   border-top-width:0px;
 -moz-border-radius-bottomleft: .6em; -webkit-border-bottom-left-radius: .6em; border-bottom-left-radius: .6em; -moz-border-radius-bottomright: .6em; -webkit-border-bottom-right-radius: .6em; border-bottom-right-radius: .6em; 
}
*/
.ter-field-readonly { background-image: none; padding: .4em; line-height: 1.4; font-size: 16px; display: block; width: 95%; }
.ter-field-readonly  { -webkit-appearance: none; }
@media all and (min-width: 450px){
  .ter-field-readonly   { width: 60%; display: inline-block; } 
}

/* Seems to be missing in JQM stylesheet */
.pop.out{
	-webkit-transform: scale(.2);
	opacity: 0;
	-webkit-animation-name: popout;
	z-index: 10;
}

.ter-dialog-mask
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-image:url(images/dialog_mask.png);
}

/* Compact mobile (JQuery-based) field display in narrow (<450px) screen */
.ui-field-contain { border-width: 0; padding: 0; margin: 1em 0; }

/* Compact mobile (JQuery-based) h2 tag (Label, List Item/Title) */
.ui-content h2 {
	-webkit-margin-before: 0.45em;
	-webkit-margin-after: 0.2em;
}
