
.register .body
{
padding-top:20px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}

.register .body input
{
	margin-top:20px;
	font-size:20px;
	width: 100%;
}

.register .body button
{
	margin-top:20px;
	font-size:32px;
}