ul.rsslist li.menu
{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}

.rssdetails button.cancel
{
position:relative;
float:left;
}

.rssdetails p.date_and_time
{
font-size:10px;
margin-top:3px;
margin-bottom:3px;
}

.rssdetails img
{
height:250px;
}

.rssdetails div.author_and_time span.author
{
margin-right:10px;
font-size:10px;
}

.rssdetails div.author_and_time span.date_and_time
{
font-size:10px;
}

.rssdetails div.title
{
margin-top:10px;
text-decoration:underline;
}

.rssdetails .body
{
	padding:10px;
}
