@datagrid-row-height:17px;
.drag-feedback {
    border: 1px solid black;
    background-color: #a8e9cd;
}
.datagrid
{
    border:1px solid #aaa;
    tr:first-child {
	border-top: none;
    }

    th {
	background-position: right;
	background-repeat: no-repeat;
	font-weight: bold;
	white-space:nowrap;
	&.up {
	    background-image: url(images/datagrid/up.png);
	    padding-right:14px;
	}

	&.down {
	    background-image: url(images/datagrid/down.png);
	    padding-right:14px;
	}
    }
    th,td
    {
	overflow:hidden;
	text-overflow:ellipsis;
    }
    .resize {
	cursor: e-resize;
	cursor: col-resize;
    }
    
 
    &.scrollable
    {
	position:relative;
	overflow:hidden;
	table
	{
	    margin:0px; /* tables need to have no margin to look like a single table */
	}
	.head, .footer {
	    overflow: hidden; /* why */
	    table
	    {
		
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		thead:last-child tr:last-child th:first-child,
		{
		    border-bottom-left-radius: 0px;
		}
		thead:last-child tr:last-child th:last-child,
		{ 
		    border-bottom-right-radius: 0px;
		}

	    }

	}
	.footer
	{
	    position:absolute;
	    background-color:white;
	}
	.body {
	    overflow-y: scroll;
	    overflow-x: scroll;
	    position:absolute;
	    bottom:0px;
	    table
	    {
		border-top:0px;
		// For first th or td in the first row in the first thead or tbody
		colgroup + tbody tr:first-child td:first-child {
		    border-top-left-radius: 0px;
		}
		colgroup + tbody tr:first-child td:last-child {
		    border-top-right-radius: 0px;
		}
	    }
	}
    }
}