div.dual_display>div
{
   -webkit-transition-duration: 1000ms;
   -webkit-transition-property: -webkit-transform;
   -moz-transition-duration: 1000ms;
   -moz-transition-property: -moz-transform;
   position:absolute;
   top:0px;
}
.dual_display
{
	display:inline-block;
	position:relative;
	margin:0px;
	overflow:hidden;
	height:80px;
	width:200px;
}
.dual_display>div
{
	padding-top:20px;
	padding-left:20px;
	font-size:18px;
	vertical-align:middle;
}

