.in, .out {
	animation-timing-function: ease-in-out;
	animation-duration: 350ms;
}

.slide.in {
	transform: translateX(0);
	animation-name: slideinfromright;
}

.slide.out {
	transform: translateX(-100%);
	animation-name: slideouttoleft;
}

.slide.in.reverse {
	transform: translateX(0);
	animation-name: slideinfromleft;
}

.slide.out.reverse {
	transform: translateX(100%);
	animation-name: slideouttoright;
}

.slideup.in {
	transform: translateY(0);
	animation-name: slideinfrombottom;
}

.slideup.out {
	animation-name: dontmove;
}

.slideup.out.reverse {
	transform: translateY(100%);
	animation-name: slideouttobottom;
}

.slideup.in.reverse {
	animation-name: dontmove;
}
.slidedown.in {
	transform: translateY(0);
	animation-name: slideinfromtop;
}

.slidedown.out {
	animation-name: dontmove;
}

.slidedown.out.reverse {
	transform: translateY(-100%);
	animation-name: slideouttotop;
}

.slidedown.in.reverse {
	animation-name: dontmove;
}

@keyframes slideinfromright {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideinfromleft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slideouttoleft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes slideouttoright {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}


@keyframes slideinfromtop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideinfrombottom {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes slideouttobottom {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}

@keyframes slideouttotop {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade.in {
	opacity: 1;
	z-index: 10;
	animation-name: fadein;
}
.fade.out {
	z-index: 0;
	animation-name: fadeout;
}

@keyframes dontmove {
    from { opacity: 1; }
    to { opacity: 1; }
}

.pop {
	transform-origin: 50% 50%;
}

.pop.in {
	transform: scale(1);
	animation-name: popin;
}
.pop.out{
	transform: scale(.2);
	animation-name: popout;
}

.pop.out.reverse {
	transform: scale(.2);
	animation-name: popout;
}

.pop.in.reverse {
	animation-name: dontmove;
}

@keyframes popin {
    from {
        transform: scale(.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popout {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.2);
        opacity: 0;
    }
}

