body div *
{
	color:#606060;
}
body
{
	background-image:none;
	background-color:white;
	margin:10 10 10 10;
}
body div table.normal
{
	border:1px solid #A8BEC9;
}
body div table.normal caption
{
	margin-top:2px;
        background-color:#99c7e8;
	border:1px solid #A8BEC9;
	border-bottom:none;
}
body div table.normal th
{
        background-color:#efefff;
}

body div table.normal caption div
{
	color:#0e4c77;
}
body div button
{
	color:#0e4c77;
}

